@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
/* primary */
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-cyan: hsl(167, 40%, 24%);
--dark-blue: hsl(198, 62%, 26%);
--footer-bg: rgb(144, 212, 197);
--footer-fg: hsl(168, 34%, 41%);

/* neutral */
--very-dark-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);

/* fonts */
--ff-body: 'Barlow', sans-serif;
--ff-heading: 'Fraunces', serif;

/* spacing */
--default-spacing: 1.5rem;
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
    font-family: var(--ff-body);
}

a { text-decoration: none; }

h1, h2 {
    font-family: var(--ff-heading);
}

h2 { 
    color: var(--very-dark-blue); 
    font-size: 2rem;
    line-height: 1.25;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}


/* UTILITY CLASSES */
.split > * + * {
    margin-top: var(--custom-spacing, var(--default-spacing));
}

.container {
    text-align: center;
    padding: 4rem 1rem 4rem 1rem;
    color: var(--grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container a {
    display: inline-block;
}
.container p {
    line-height: 1.75;
}

.overlap {
    position: relative;
}

.overlap .container {
    position: absolute;
    bottom: 0rem;
}

.split-horizontal > * + * {
    margin-left: var(--custom-margin, 3rem);
}

/* SPECIFIC SECTIONS */
header {
    position: absolute;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

nav {
    display: none;
}

.intro-hero {
    font-size: 1.75rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;

    background-image: url('./images/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    padding-top: 10rem;
}

.graphic-design .container {
    color: var(--dark-cyan);
    font-size: 1rem;
}

.photography .container {
    color: var(--dark-blue);
    font-size: 1rem;
}

.testimonials {
    text-align: center; 
    color: var(--very-dark-grayish-blue);
    --custom-spacing: 4rem;
}

.testimonials h2 {
    color: var(--grayish-blue);
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 3px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
}

.testimonials-container.split > * + * {
    margin-top: 4rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    --custom-spacing: 2rem;
}

.testimonial img {
    border-radius: 100%;
    max-width: 5rem;
}

.testimonial p {
    line-height: 1.5;
}

.testimonial__name > * {
    display: block;
}

.testimonial__name strong {
    font-family: var(--ff-heading);
    color: var(--very-dark-blue);
}

.testimonial__name span {
    color: var(--grayish-blue);
    font-size: 1rem;
    margin-top: 0.75rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    color: var(--footer-fg);
    background-color: var(--footer-bg);
    --custom-spacing: 3rem;
}

footer a {
    color: var(--footer-fg);
}

footer svg {
    color: var(--dark-cyan);
}


.footer__links.socials {
    --custom-margin: 1rem;
    margin-top: 5rem;
}

/* NAV POPUP (MOBILE ONLY) */

.nav-menu {
    display: none;
}

.nav-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 2.5rem 0;
    width: 320px;
    --custom-spacing: 2.5rem;
    position: relative;
    /* to center an absolutely-positioned element (with a set width) */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 5rem;
}

.nav-popup a {
    color: var(--dark-grayish-blue);
    width: min-content;
}

.contact-link {
    border-radius: 100vw;
    text-transform: uppercase;
    font-family: var(--ff-heading);
    padding: 1rem;   
}

.contact-link--popup {
    color: var(--dark-blue);
    background-color: var(--yellow);
} 

.contact-link--nav {
    color: var(--dark-blue);
    background-color: var(--white);
} 

.nav-popup::before {
    content: "";
    display: block;
    position: absolute;
    top: -1em;
    right: 0;
    /* using a gradient to create triangle shape: */
    width: 1em;
    height: 1em;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, white 50%, white 100%);
}


/* DESKTOP */
@media (min-width: 1024px) {
    header {
        padding: 2rem;
    }
    nav {
        display: block;
    }

    nav a {
        color: var(--white);
    }

    .main-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .transform-brand {
        order: -1;
    }
      
    .testimonials {
    }
    
    .testimonials-container {
        flex-direction: row;
    }

        
    .testimonials-container.split > * + * {
        margin-top: 0rem;
    }
    
    .testimonial {
        --custom-spacing: 3rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .overlap img {
        width: 50vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .overlap {
        height: min-content;
    }

    .intro-hero {
        background-image: url(./images/desktop/image-header.jpg);
        height: 95vh;
        width: 100%;
        background-size:cover;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 3rem;
    }

    .hamburger {
        display: none;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: var(--footer-bg);
    padding-bottom: 1rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }